.DS_Store
*~
*.log
*.aux
*.synctex.gz

Templates/Day_1/Hello_world/
!Templates/Day_1/Hello_world/*.c
!Templates/Day_1/Hello_world/*.f90
!Templates/Day_1/Hello_world/SampleSolutions/*.c
!Templates/Day_1/Hello_world/SampleSolutions/*.f90

Templates/Day_1/Running_OpenMP/
!Templates/Day_1/Running_OpenMP/*.c
!Templates/Day_1/Running_OpenMP/*.f90
!Templates/Day_1/Running_OpenMP/SampleScript/*.c
!Templates/Day_1/Running_OpenMP/SampleScript/*.f90

Templates/Day_2/CalculatingPi/
!Templates/Day_2/CalculatingPi/C/*.c
!Templates/Day_2/CalculatingPi/Fortran/*.f90
!Templates/Day_2/CalculatingPi/SampleSolution/*.c
!Templates/Day_2/CalculatingPi/SampleSolution/*.f90
Templates/Day_2/WorkshareSchedule/
!Templates/Day_2/WorkshareSchedule/C/*.c
!Templates/Day_2/WorkshareSchedule/Fortran/*.f90
!Templates/Day_2/WorkshareSchedule/SampleSolution/*.c
!Templates/Day_2/WorkshareSchedule/SampleSolution/*.f90

Templates/Day_3/Reduction/
!Templates/Day_3/Reduction/*.c
!Templates/Day_3/Reduction/*.f90
!Templates/Day_3/SampleSolution/*.c
!Templates/Day_3/SampleSolution/*.f90
!Templates/Day_3/SampleSolution/C/*.c
!Templates/Day_3/SampleSolution/Fortran/*.f90

Templates/Day_3/Vectorisation_SIMD/
!Templates/Day_3/Vectorisation_SIMD/*.c
!Templates/Day_3/Vectorisation_SIMD/*.f90
!Templates/Day_3/Vectorisation_SIMD/C/*.c
!Templates/Day_3/Vectorisation_SIMD/C/*.h
!Templates/Day_3/Vectorisation_SIMD/Fortran/*.f90
!Templates/Day_3/Vectorisation_SIMD/SampleSolution/*.c
!Templates/Day_3/Vectorisation_SIMD/SampleSolution/*.f90
!Templates/Day_3/Vectorisation_SIMD/SampleSolution/C/*.c
!Templates/Day_3/Vectorisation_SIMD/SampleSolution/Fortran/*.f90


